@charset "UTF-8"

;@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap')

;* {
    margin: 0px;
    padding: 0px;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.link-menu {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22d4fd;
    text-decoration: none;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22d4fd;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease-in-out;
}

.links:hover {
    background-color: #37899b65;
    transform: scale(1.1);
    box-shadow: 0 0 10px #37899b65;
}

.foto-titulo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.foto-titulo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00d0ff;
}


footer {
    background-color: #22d4fd;
    color: black;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    text-align: center;
}